/* public/projects.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  .project {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    text-align: left;
  }
  
  .project h2 {
    color: #3498db;
  }
  
  #addProjectButton {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #addProjectForm {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button[type='submit'] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  h1 {
    color: #333;
  }

  a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #3498db;
    transition: background-color 0.3s ease;
  }

  a:hover {
    background-color: #2980b9;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  header h1 {
    color: #fff;
    margin: 0;
  }

  header div {
    display: flex;
    align-items: center;
  }

  header a {
    color: #fff;
    margin: 0 10px;
  }